.btn {
    color: map-get($colors, blanco);
    text-decoration:none;
    border-radius:3px;
    font-family: $titulos;
    font-size:2em;
    }

    .btn-oscuro {
        @include button-bg(#323232);
    }

    .btn-blue {
        @include button-bg(#3498db);
    }

    .btn-yellow{
        @include button-bg(#f1c40f);
    }

    .btn-red {
        @include button-bg(#e74c3c);
    }

    .btn-orange {
    @include button-bg(#e67e22);
    }