@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background:darken($bg,8%);
        transition: all 0.3s ease;
    }
    &:active {
        background:darken($bg,25%);
    } 
}
    %reseteoCss {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}