
// BODY
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #007bff, #2176e8, #3070d1, #3b6bba, #4265a4, #4a588c, #4b4d76, #474260, #3d3145, #2e212c, #1c1418, #000000);
    color: white;
}




// HEADER
header{
    border-bottom: 2px solid black;
}

.logo2 {
    border-radius: 50%;
    height: 70px;
    width: 70px;    
}

// MAIN INDEX
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

.imagen {
    padding-left: 50px;
    align-items: left;
    float: left;
}


.text {
    padding-top: 70px;
    padding-right: 50px;
    text-align: center;
    float: right;
}


// VARIABLES
//$tablet: (max-width: 740px);
//$mobile: (max-width: 480px);

// MEDIA 740PX
@media only screen and (max-width: 740px) {
    // INDEX
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }

    .imagen {
        width: 100%;
        padding: 0;
        text-align: center
    }
    .text {
        font-size: smaller;
        padding: 0;
        padding-top: 10px;
    }
}

// MEDIA 480PX
@media only screen and (max-width: 480px) {
    // INDEX
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        

    .imagen {
        width: 100%;
        padding: 0;
    }
    .text {
        font-size: small;
        padding: 0;
        padding-top: 10px;
    }
}